* {
    margin: 0;
    padding: 0;
}
/* Fuente base */
body {
    font-family: Arial, Helvetica, sans-serif;
}
#contenedor {
    display: flex;
    flex-direction: column;
}

#cabecera {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    position: relative;
    margin: 0rem 0rem 2rem 3rem;
}
/* Tamaño del logo */
#logo {
    width: 10rem;
}

#informacion {
    display: flex;
}

.cuerpo {
    margin-left: 7rem;
    margin-right:3rem;
}
/* Título principal de la sección 'Quiénes somos' */
.cuerpo header h1 {
    font-size: 2rem;
    color: rgb(192, 2, 2);
    text-align: left;
    margin-bottom: 1rem;
}

#articulo_img {
    width: 100%;
    margin-bottom: 2rem;

}
/* Estilo general para los párrafos en el contenido */
#contenedor p {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: justify;
}
/* Pie de la sección principal con el botón "Llámanos" */
.cuerpo footer {
    justify-content: center;
    align-items: center;
}

aside {
    margin-left: 2rem;
    margin-right: 7rem;
}

aside h2 {
    color: rgb(161, 142, 142);
    margin-bottom: 1rem;
    margin-right: 2rem;
}

/* Contenedor para el botón "Llámanos" en el footer de la sección */
.extensiones {
    text-align: center;

}

#boton {
    width: 6rem;
    height: 2.5rem;
}
/* Pie de página general con datos de contacto y derechos legales */
.fin_pagina {
    background-color: rgb(155, 2, 2);
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding-top: 2rem;
    padding-left: 4rem;
}

.fin_pagina p {
    line-height: 1.5;
    text-align: left;
}